In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
from naive_bayes import BetaDistribution_NaiveBayes
import gc

In [2]:
X=pd.read_csv('dataset/X.csv')
y=pd.read_csv('dataset/y.csv')

train_X,test_X,train_y,test_y=train_test_split(X,y,test_size=10000,random_state=42)

del X,y
gc.collect()

0

In [3]:
(train_X[train_y["class"]==5]).mean(axis=0)*(1-(train_X[train_y["class"]==5]).mean(axis=0))

pixel13     0.0
pixel14     0.0
pixel15     0.0
pixel16     0.0
pixel33     0.0
           ...
pixel776    0.0
pixel777    0.0
pixel778    0.0
pixel779    0.0
pixel780    0.0
Length: 719, dtype: float64

In [4]:
train_y

       class
23001      2
31471      4
21970      0
23585      1
10299      6
...      ...
37194      6
6265       6
54886      1
860        0
15795      0

[60000 rows x 1 columns]

In [5]:
model=BetaDistribution_NaiveBayes()
model.fit(train_X,train_y)

In [6]:
model.predict(test_X)

0       None
1       None
2       None
3       None
4       None
        ...
9995    None
9996    None
9997    None
9998    None
9999    None
Length: 10000, dtype: object